@{
    ViewData["Title"] = "Realza su belleza";
}

<!-- Hero Start -->
<div class="container-fluid p-0 hero-header bg-light mb-5">
    <div class="row align-items-center g-0">
        <div class="col-lg-6 hero-header-text py-5">
            <h1 class="font-dancing-script text-primary animated slideInLeft">Bienvenido</h1>
            <h1 class="display-1 mb-4 animated slideInLeft">El Lugar Donde La Belleza Te Espera.</h1>
            <div class="row g-0 animated slideInLeft">
                <div class="col-auto">
                    <div class="row g-0 align-items-center">
                        <a href="tel:+1(704)500-3937" class="col-auto">
                            <div class="btn-square btn btn-primary flex-shrink-0">
                                <i class="fa fa-phone text-dark"></i>
                            </div>
                        </a>
                        <div class="px-3 col-auto">
                            <h5 class="text-primary mb-0">Llámanos</h5>
                            <p class=" text-dark mb-0">(704) 500-3937</p>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row g-0 align-items-center">
                        <a href="mailto:salonlluvia1417@gmail.com" class="col-auto">
                            <div class="btn-square btn btn-primary flex-shrink-0">
                                <i class="fa fa-envelope text-dark"></i>
                            </div>
                        </a>
                        <div class="px-3 col-auto">
                            <h5 class="text-primary mb-0">Correo</h5>
                            <p class=" text-dark mb-0">salonlluvia1417@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <img src="~/img/index/hero-slider-1.jpg" class="img-fluid" alt="...">
                        </li>
                        <li class="glide__slide">
                            <img src="~/img/index/hero-slider-2.jpg" class="img-fluid" alt="...">
                        </li>
                        <li class="glide__slide">
                            <img src="~/img/index/hero-slider-3.jpg" class="img-fluid" alt="...">
                        </li>
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left fs-3" data-glide-dir="<"><i class="bi bi-arrow-left-circle-fill"></i></button>
                    <button class="glide__arrow glide__arrow--right fs-3" data-glide-dir=">"><i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<partial name="Partials/_aboutPartial" />

<partial name="Partials/_servicePartial" />

<partial name="Partials/_teamPartial" />

@section Index
{
    <script src="~/js/index/index.js"></script>
}