@{
    string? controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
    string? actionName = ViewContext.RouteData.Values["action"]?.ToString();
}

<!-- Breadcrumb Start -->
<div class="container-fluid bg-light page-header py-5 mb-0">
    <div class="container text-center py-5">
        <h1 class="display-1 animated slideInLeft">@actionName</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center animated slideInLeft mb-0">
                <li class="breadcrumb-item">
                    <a class="text-primary" asp-action="Index">
                        @controllerName
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@actionName</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Breadcrumb End -->