<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.2s">
                <img class="img-fluid mb-3" src="~/img/about.jpg" alt="">
                    <div class="d-flex align-items-center bg-light">
                        <a href="tel:+1(704)500-3937" class="btn btn-square flex-shrink-0 btn-primary" style="width: 100px; height: 100px;">
                            <i class="fa fa-phone fa-2x text-dark"></i>
                        </a>
                        <div class="px-3">
                            <h3>(704) 500-3937</h3>
                            <span>Llámenos para agendar su cita</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="font-dancing-script text-primary">Sobre Nosotros</h1>
                    <h1 class="mb-5">¡Por Qué Nos Eligen!</h1>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget libero
                        lobortis, auctor nisi quis, aliquet nunc. Nam dapibus interdum lacus, suscipit tempor odio
                        viverra aliquam. Etiam non ex ex.
                    </p>
                    <div class="row g-3 mb-5">
                        <div class="col">
                            <div class="bg-light text-center p-4">
                                <i class="fas fa-calendar-alt fa-4x text-primary"></i>
                                <h1 class="display-5" id="counter-yoe"></h1>
                                <p class="text-dark text-uppercase mb-0">Años de experiencia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- About End -->