<!-- Service Start -->
<div class="container-fluid service py-5">
    <div class="container">
        <div class="text-center wow fadeIn" data-wow-delay="0.1s">
            <h1 class="font-dancing-script text-primary">Nuestros Servicios</h1>
            <h1 class="mb-5">Conozca Nuestros Servicios</h1>
        </div>
        <div class="row g-4 g-md-0 text-center">
            <div class="col-md-6">
                <div class="service-item h-100 p-4 border-bottom border-end" data-wow-delay="0.1s">
                    <img class="img-fluid" src="~/img/service/peinado-icon.png" alt="">
                    <h3 class="mb-3">Peinados</h3>
                    <p class="mb-3">
                        Creamos estilos modernos y elegantes adaptados a tu ocasión, resaltando tu look con acabados profesionales y duraderos.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item h-100 p-4 border-bottom" data-wow-delay="0.1s">
                    <img class="img-fluid" src="~/img/service/tintes-icon.png" alt="">
                    <h3 class="mb-3">Tintes</h3>
                    <p class="mb-3">
                        Aplicamos coloración de alta calidad para renovar tu imagen, logrando tonos uniformes y un acabado natural.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item h-100 p-4 border-bottom border-end" data-wow-delay="0.1s">
                    <img class="img-fluid" src="~/img/service/haircut.png" alt="">
                    <h3 class="mb-3">Corte de Cabello</h3>
                    <p class="mb-3">
                        Ofrecemos cortes personalizados que se ajustan a tu estilo y tipo de cabello, manteniendo una apariencia fresca y cuidada.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-item h-100 p-4 border-bottom" data-wow-delay="0.3s">
                    <img class="img-fluid" src="~/img/service/makeup.png" alt="">
                    <h3 class="mb-3">Maquillaje</h3>
                    <p class="mb-3">
                        Realzamos tu belleza con técnicas profesionales, creando looks naturales o sofisticados según la ocasión.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->